---
<p>
  <strong>Sender:</strong>
  <%= @message.sender.name %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @message.receiver.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @message.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>
