<h1>Nachricht editieren</h1>

<%= render partial: 'form', object: @message, as: :message %>

<%= link_to (image_tag "lupe_318-1787.jpg"), @message %> 
<%= link_to (image_tag "pfeil-nach-links_318-1440.jpg"), messages_path %>
