  <!-- <strong>Frage:</strong> -->
  <div class="field" id="frage">
    <p><%= @question.problem %></p>
  </div>

  <!-- <strong>Answers:</strong> -->
  <div class="field" id="answer_buttons" >
    <ul>
      <%= render partial: "answers/button", collection: @question.answers.order("RANDOM()"), as: :answer %>
    </ul>
  </div>
