<div id="links">
  <div id="messages">

    <div  id="button"  >
      <a href="#" onclick="toggle_chat('messages');">
        <%= image_tag "x.svg" %>
      </a>
    </div>

    <!-- <#% unless @user.nil? %> -->
    <strong>Inbox:</strong>
      <%= render partial: "messages/message" , collection: current_user.received_messages, as: :message , spacer_template: "partials/ruler" %>
      <!-- <#%= render(current_user.received_messages) || "There are no Messages." %> -->
      <!-- <#%= render current_user.sended_messages %> -->

      <!-- <#% @user.received_messages.each do |m| %>
        <strong><#%= m.subject %></strong>
        <br>
        <#%= m.content %>
        <br>
      <#% end %> -->
    <!-- <#% end %> -->
  </div>

  <div id="aufmachen">
    <div id="button" >
      <a href="#" onclick="toggle_chat('2');">
        <%= image_tag "x.svg" %>
      </a>
    </div>
  </div>

</div>
