<h1>Messeges</h1>
<% unless @user.nil? %>
<!-- <#%= render :partial => "messages/message" , :collection => @user.received_messages %> -->
  <% @user.received_messages.each do |m| %>
    <strong><%= m.subject %></strong>
    <br>
    <%= m.content %>
    <br>
  <% end %>
<% end %>
