

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>
<p>
  <strong>Mitglieder:</strong>
  <% @group.user.each do |user| %>
    <%= user.name %><br>
  <% end %>
</p>

<%= link_to (image_tag "pen29.png"), edit_group_path(@group) %> 
<%= link_to (image_tag "pfeil-nach-links_318-1440.jpg"), groups_path %>
