        <div id="feed">

        <%= selection.tag.name %>
			<%= link_to (image_tag "lupe_318-1787.png"), selection %> 
|
        <!-- <%= link_to (image_tag "pen29.png"), edit_selection_path(selection) %> |  -->
        <%= link_to (image_tag "delete96.png"), selection, method: :delete, data: { confirm: 'Are you sure?' } %>
				</div>
<br>
