// Place all the styles related to the Challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th, td {
    padding: 15px;
    text-align: center;
        border: 0px solid gray;


}
table {
    border: 0px solid gray;


}

.challenges th, td {
    padding: 15px;
    text-align: center;
        border: 1px solid gray;
            border-collapse: collapse;

}
.challenges table {
    border: 1px solid gray;
    border-collapse: collapse;

}

#feed img{
    position: relative;
    text-outline: 5px;
}
.actions input{
   padding-top:10px;
   padding-bottom:5px;
   align:center;
   width:100%;
   height:40px;
   border:0;
}