
#button{
	top:47.5%;
	left:100%;
	width:30px;
	height:30px;
	position:absolute;

}


#messages{

	border-radius: 7px;
	position:absolute;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	border: 2px solid black;
	left:10px;
	top:10%;
	width:30%;
	height:80%;
	background-color: #CCCCCC;
	background-image: linear-gradient(#999999,#CCCCCC);
	display:none;
	word-wrap: break-word;
}

#aufmachen{
	display:block;
	position:absolute;

	top:47.5%;
	left:20px;
}


#chat li {
	float:none;
	width: 100%;
	margin: 0;
	list-style: none;
	padding: 10px 0 10px 0;
	background-color: #CCCCCC;
	background-image: linear-gradient(#999999,#CCCCCC);
	border-radius: 7px;
	box-shadow: 0 2px 3px #000;


}
input {
	border: 2;
	outline: 0;
	background: transparent;
	width: 200px;
}
body{
	font:  25px/30px Metro;
	text-transform: uppercase;
	text-shadow: 0 0.5px 0 #000;		}


#chat a {
	float:none;
	text-decoration: none;
	text-underline: none;
	color: #000;
	font-weight: bold;
	height: 25px;
	padding: 0 25px;
	font: bold 20px/25px Metro;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #000;
}
#chat li:hover > ul {
	display:block;
}

#chat li:hover > a{
	color: #ffffff;
}


#chat ul li {
	float:none;
	margin: 0;
	padding: 0;
	border: 1px solid black;

}
#chat ul a{
	margin:0;
	padding: 15px;
	height:auto;
	display: block;
	line-height: 1;
	border-radius: 7px;

}
#chat ul a:hover {
	background-color: #CCCCCC;
	background-image: linear-gradient(#999999,#CCCCCC);
}

#chat ul{
	margin:0;
	padding: 0;
	list-style: none;
	display: block;

	z-index:111111;
	border-radius: 5px;
	background-color: #CCCCCC;
	background-image: linear-gradient(#999999,#CCCCCC);

}


	#messages{
		box-shadow: 0 2px 3px #000;
		border-radius: 7px;
		position:absolute;
		min-width:200px;
		margin-bottom:10px;
		margin-left:10px;
		margin-right:10px;
		margin-top:10px;
		border: 2px solid black;
		left:10px;
		top:10%;
		width:20%;
		height:80%;
		background-color: #CCCCCC;
		background-image: linear-gradient(#999999,#CCCCCC);
		display:none;
		word-wrap: break-word;
		}

		#aufmachen{
			display:block;
			position:absolute;

			top:35%;
			left:20px;
		}

		#eingabe{
			bottom: 5px;

		}


		#bildSchwert{
			width:30px;
			height:30px;
		}

		#bildKreuz{
			width:50px;
			height:50px;
		}

		#text{

			overflow:auto;height: 95%; width: 95%;
		}

		#schliess{
			float:right;

		}
		h1 { font-size: 48px; }
