<div id="popupBoxOnePosition">
  <div class="popupBoxWrapper">
    <div id="schliess">
      <a href="javascript:void(0)" onclick="toggle_visibility('popupBoxOnePosition');">
        <%= image_tag "Ps-x-button.png" %></a>
    </div>
    <div class="popupBoxContent">
      <h1>Benachrichtigungen</h1>

				<form>
					Benachrichtigungen erlauben:<select name="Benachrichtigungen" size="1">
						<option>Alle</option>
						<option>Freunde</option>
						<option>Keine</option>


					</select>
					<br/>
					<br/>
					<br/>
					<button type="reset">Eingaben zurücksetzen</button>
					<button type="submit">Eingaben absenden</button>
				</form>

    </div>
  </div>
</div>
