<div id="popupBoxOnePosition">
  <div class="popupBoxWrapper">
    <div id="schliess">
      <a href="javascript:void(0)" onclick="toggle_visibility('popupBoxOnePosition');">
        <%= image_tag "Ps-x-button.png" %></a>
    </div>
    <div class="popupBoxContent">
      <h1>BlaBLaBla</h1>


        <br>
        Bla
        <br>
        Bla
        <br>


    </div>
  </div>
</div>
